<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="thymeleaf/common/fragment::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="thymeleaf/common/fragment::top"></nav>
<nav th:replace="thymeleaf/common/fragment::left"></nav>
<div class="div-inner" id="div-inner">
    <div class="div-inner-color">
        <div class="layui-btn-group demoTable">
            <button class="layui-btn layui-btn-danger" data-type="getCheckData">取消选择的赞</button>
            <!--<button class="layui-btn layui-btn-warm" data-type="add">添加</button>-->
        </div>
        <table id="demo" lay-filter="test" lay-data="{id: 'idTest'}" class="layui-hide"></table>
    </div>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">取消点赞</a>
</script>

<script th:inline="javascript">
    var pageNum = 1;


    var iframe;
    layui.use('table', function () {
        var table = layui.table;

        //第一个实例
        table.render({
            id: 'idTest'
            , elem: '#demo'
            , height: 600
            , size: 'lg'
            , curr: pageNum
            , url: '/admire/data?type=reply' //数据接口
            , page: true //开启分页
            , cols: [
                [ //表头
                    {type: 'checkbox', fixed: 'left'},
                    {field: 'ID', title: 'ID', sort: true, fixed: 'left'},
                    {field: 'title', title: '点赞的回复', fixed: 'left'}
                    , {field: 'master', title: '点赞人', sort: true, fixed: 'left'}
                    , {field: 'updateTime', title: '点赞时间', fixed: 'left'}
                    , {fixed: 'right', width: 150, align: 'center', toolbar: '#barDemo', fixed: 'left'}
                ]
            ]
            , done: function (res, curr, count) {
                pageNum = curr;
            }
        });

        //编辑事件
        table.on('tool(test)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象

            if (layEvent === 'del') { //删除
                layer.confirm('真的要取消么', function (index) {

                    $.ajax({
                        async: false,
                        cache: false,
                        type: 'post',
                        url: "/admire/del",
                        data: {
                            'id': data.ID,
                        },
                        success: function (data) {
                            obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                            layer.msg("取消成功", {icon: 1});
                        }
                    })


                });
            }

        });


        //工具栏事件
        var $ = layui.$, active = {
            getCheckData: function () { //获取选中数据
                var idList = new Array();
                var checkStatus = table.checkStatus('idTest');
                for (var i = 0; i < checkStatus.data.length; i++) {
                    idList[i] = checkStatus.data[i].ID;
                }
                //     ,data = checkStatus.data;
                if (idList.length == 0) {
                    layer.alert("你未选中数据");
                } else {
                    layer.confirm('真的要取消这些' + idList.length + '赞么', function (index) {

                        $.ajax({
                            url: '/admire/choose',
                            async: false,
                            cache: false,
                            type: 'post',
                            data: {
                                'idList': JSON.stringify(idList),
                            },
                            success: function (data) {
                                layer.close(index);
                                table.reload('idTest', {
                                    page: {curr: pageNum}
                                })
                                layer.msg("取消成功", {icon: 1});
                            }
                        })
                    });
                }
            }

        };
        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });

    function getPageNum() {
        return pageNum;
    }


</script>
</body>
</html>