<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/static/jq/jquery-3.1.1.js}"></script>
    <link th:href="@{/static/layui/css/layui.css}" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
    <link th:href="@{/static/css/common_edit.css}" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" th:src="@{/static/js/distpicker.data.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/distpicker.js}"></script>
</head>
<body>
<div class="div-outer">
    <p class="p">用户名:</p><input type="text" th:name="username" th:value="${user?.username}">
    <p class="p">昵称:</p><input type="text" th:name="nickName" th:value="${user?.nickName}">
    <p class="p">密码:</p><input type="password" th:name="password" th:value="${user?.userPwd}">
    <p class="p">确认密码:</p><input type="password" th:name="tpassword" th:value="${user?.userPwd}">
    <p class="p">发布公告数:</p><input type="text" th:name="notices" th:value="${user?.noticeCount}">
    <p class="p">角色:</p>
    <select id="select">
        <option th:each="role:${roles}" th:text="${role}" th:selected="${role} == ${user?.getRoleName()}"></option>
    </select>
    <div class="btn-div">
        <input type="button" value="确定" class="layui-btn layui-btn-normal" id="btn_yes">
        <input type="button" value="取消" class="layui-btn layui-btn-danger" style="margin-left: 50px" id="btn_no">

    </div>
</div>
<script th:inline="javascript">
    var id = [[${user?.adminId}]]
    var action = [[${action}]]
    var res;
    var index = parent.layer.getFrameIndex(window.name);


    $("#btn_yes").click(function () {
        var username = $("input[name='username']").val();
        var password = $("input[name='password']").val();
        var tpassword = $("input[name='tpassword']").val();
        var role = $("#select").val();
        var nickName = $("input[name='nickName']").val();
        var notices = $("input[name='notices']").val();
        var pat1 = new RegExp("^[a-zA-Z0-9]{5,11}$");
        var pat2 = new RegExp("^[^\\s]{6,16}$");
        var pat3 = new RegExp("^[A-Za-z0-9\u4e00-\u9fa5]+$")
        var pat4 = new RegExp("^[0-9]+$");
        if (!pat1.test(username)) {
            parent.layer.msg("只能含数字,字母并且长度在5-11之间");
        }
        else if (!pat3.test(nickName) || getLength(nickName) > 12) {
            parent.layer.msg("昵称只能含数字、字母、汉字且长度在1-12之间");
        }
        else if (!pat2.test(password)) {
            parent.layer.msg("不能含空格并且长度在6-16之间");
        }
        else if (password != tpassword) {
            parent.layer.msg("两次密码不一致");
        }
        else if (!pat4.test(notices)) {
            parent.layer.msg("必须是数字");
        }

        else {
            $.ajax({
                url: '/user/admin/name',
                async: false,
                cache: false,
                type: 'post',
                data: {
                    'name': username,
                    'nickName': nickName,
                    'id': id
                },
                success: function (data) {
                    if (data == true) {
                        $.ajax({
                            url: '/user/admin/mod',
                            async: false,
                            cache: false,
                            type: 'post',
                            data: {
                                'adminId': id,
                                'userName': username,
                                'userPwd': password,
                                'nickName': nickName,
                                'noticeCount': notices,
                                'role': role,
                                'action': action,
                            },
                            success: function (data) {
                                var newdata = JSON.parse(data);
                                res = newdata;
                                parent.layer.close(index);
                                if (newdata.action == "edit") {
                                    parent.layer.msg("修改成功", {icon: 1});
                                }
                                else {
                                    parent.layer.msg("添加成功", {icon: 1});
                                }
                            }
                        })

                    }
                    else {
                        parent.layer.msg("用户名或昵称已存在");
                    }

                }
            });
        }

    })
    $("#btn_no").click(function () {
        parent.layer.close(index);
    })

    function getLength(str) {
        var len = 0;
        for (var i = 0; i < str.length; i++) {
            if (str.charCodeAt(i) > 127 || str.charCodeAt(i) == 94) {
                len += 2;
            } else {
                len++;
            }
        }
        return len;
    }
</script>
</body>
</html>