<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>403</title>
    <script type="text/javascript" th:src="@{/static/jq/jquery-3.1.1.js}"></script>
    <link th:href="@{/static/fontawesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/static/fontawesome/css/font-awesome.css}" rel="stylesheet"
          href="../../../static/fontawesome/css/font-awesome.css" type="text/css" media="all"/>
    <link th:href="@{/static/css/403.css}" rel="stylesheet" href="../../../static/css/403.css" type="text/css"
          media="all"/>
</head>
<body>
<div class="div-parent">
    <div class="div-inner">
        <!--<div><i class="fa fa-frown-o fa-5x" style="color: red"></i></div>-->
        <div class="div-image"><img th:src="@{/images/403.png}" width="300px"></div>
        <div class="div-font"><p>“很抱歉，您没有访问权限。。”</p></div>
    </div>
</div>

</body>
</html>