<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="thymeleaf/common/fragment::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="thymeleaf/common/fragment::top"></nav>
<nav th:replace="thymeleaf/common/fragment::left"></nav>
<div class="div-inner" id="div-inner">
    <div class="div-inner-color">
        <div class="layui-btn-group demoTable">
            <button class="layui-btn layui-btn-danger" data-type="getCheckData">删除选择的记录</button>
            <button class="layui-btn layui-btn-warm" data-type="add">添加</button>
        </div>
        <table id="demo" lay-filter="test" lay-data="{id: 'idTest'}" class="layui-hide"></table>
    </div>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script th:inline="javascript">

    var pageNum = 1;
    var dd = location.search;
    if (dd != "") {
        pageNum = location.search.split("=")[1];
    }
    var iframe;
    layui.use('table', function () {
        var table = layui.table;

        //第一个实例
        table.render({
            id: 'idTest'
            , elem: '#demo'
            , height: 600
            , size: 'lg'
            , curr: pageNum
            , url: '/notice/data' //数据接口
            , page: true //开启分页
            , cols: [
                [ //表头
                    {type: 'checkbox', fixed: 'left'},
                    {field: 'ID', title: 'ID', sort: true, fixed: 'center'},
                    {field: 'title', title: '标题', fixed: 'left'},
                    {field: 'content', title: '内容', fixed: 'left'},
                    {field: 'author', title: '作者', sort: true, fixed: 'left'},
                    {field: 'createTime', title: '发布时间', sort: true, fixed: 'left'}
                    , {fixed: 'right', width: 150, align: 'center', toolbar: '#barDemo', fixed: 'left'}
                ]
            ]
            , done: function (res, curr, count) {
                pageNum = curr;
            }
        });

        //编辑事件
        table.on('tool(test)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象

            if (layEvent === 'del') { //删除

                layer.confirm('真的删除行么', function (index) {

                    $.ajax({
                        async: false,
                        cache: false,
                        type: 'post',
                        url: "/notice/del",
                        data: {
                            'id': data.ID,
                        },
                        success: function (data) {
                            obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                            layer.close(index);
                        }
                    })


                });

            } else if (layEvent === 'edit') { //编辑
                window.location.href = "/notice/edit?id=" + data.ID + "&&pageNum=" + pageNum;
            }
        });

        var $ = layui.$, active = {
            getCheckData: function () { //获取选中数据
                var idList = new Array();
                var checkStatus = table.checkStatus('idTest');
                for (var i = 0; i < checkStatus.data.length; i++) {
                    idList[i] = checkStatus.data[i].ID;
                }
                //     ,data = checkStatus.data;
                if (idList.length == 0) {
                    layer.alert("你未选中数据");
                } else {
                    layer.confirm('真的要删除这' + idList.length + '行么', function (index) {

                        $.ajax({
                            url: '/notice/choose',
                            async: false,
                            cache: false,
                            type: 'post',
                            data: {
                                'idList': JSON.stringify(idList),
                            },
                            success: function (data) {
                                layer.close(index);
                                table.reload('idTest', {
                                    page: {curr: pageNum}
                                })
                                layer.msg("删除成功", {icon: 1});
                            }
                        })
                    });
                }
            },

            add: function () { //添加
                layer.open({
                    type: 2,
                    area: ['700px', '600px'],
                    fixed: false, //不固定
                    maxmin: true,
                    shadeClose: true,
                    skin: 'open',
                    content: ['/notice/add', 'no'],
                    success: function (layero, index) {
                        iframe = parent.window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                    },
                    end: function () {
                        if (typeof iframe.res != "undefined") {
                            table.reload('idTest', {
                                page: {curr: pageNum}
                            })

                        }

                    }

                });
            }
        };
        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });

    function getPageNum() {
        return pageNum;
    }

    a_change('l5', 'i5', 'a5');// 菜单目录样式变化

</script>
</body>
</html>