<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="thymeleaf/common/fragment::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<link th:href="@{/css/article_manager.css}" rel="stylesheet" type="text/css" media="all"/>
<nav th:replace="thymeleaf/common/fragment::top"></nav>
<nav th:replace="thymeleaf/common/fragment::left"></nav>
<div class="div-inner" id="div-inner">
    <div class="div-inner-color">

        <p>帖子标题:</p>
        <input type="text" th:value="${article?.title}" th:name="title" placeholder="输入标题..." class="title">
        <p>帖子内容:</p>
        <div class="content">
            <textarea th:name="content" id="LAY_edit" class="layui-textarea"></textarea>
        </div>
        <div class="foot-p">
            <div class="foot-c"><p>帖子作者:</p>
                <p th:text="${author}" th:name="author"></p>
            </div>
            <div class="foot-c"><p>发布时间:</p>
                <p th:text="${#dates.format(article?.createTime,'yyyy-MM-dd hh:mm:ss')}"></p>
            </div>
            <div class="foot-c"><p>帖子分类:</p>
                <select th:id="select">
                    <option th:each="category:${categorys}" th:value="${category}"
                            th:text="${category}"
                            th:selected="${category} == ${article?.articleCategory}"></option>
                </select>
            </div>

            <div class="foot-c"><p>点赞数:</p>
                <input type="text" th:name="admires" th:value="${article?.admireCount}">
            </div>
            <div class="foot-c"><p>评论数:</p>
                <input type="text" th:name="comments" th:value="${article?.commentCount}">
            </div>
        </div>
        <div>
            <input type="button" th:value="确定" id="btn_y" class="layui-btn layui-btn-normal "
                   style="width: 45%;border-radius: 19px">
            <input type="button" th:value="取消" id="btn_n" class="layui-btn layui-btn-warm "
                   style="width: 45%;border-radius: 19px">
        </div>
    </div>
</div>
<script th:inline="javascript">
    var pageNum = location.search.split("=")[2];
    var id = [[${article?.articleId}]];
    var authorId = [[${article?.authorId}]];
    $("#LAY_edit").html([[${article?.content}]]);
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        laydate.render({
            elem: '#date'
            , type: 'datetime'
        });
    })

    layui.use('layedit', function () {
        var layedit = layui.layedit
            , $ = layui.jquery;
        layedit.set({
            uploadImage: {
                url: '/upload/image'
                , type: 'POST'
                ,
            }
        })

        var index = layedit.build('LAY_edit');

    })
    $("#btn_y").click(function () {

        var title = $("input[name='title']").val();
        var content = $(window.frames["LAY_layedit_1"].document).find('body').text();
        var category = $("#select").val();
        var admireCount = $("input[name='admires']").val();
        var comments = $("input[name='comments']").val();
        var pat1 = new RegExp("^[A-Za-z0-9\u4e00-\u9fa5]+$")
        var pat2 = new RegExp("^[0-9]+$")
        if (getLength(title) == 0 || getLength(title) > 50) {
            layer.msg("标题长度在1-50个字符之间,中文算两个字符");
        }

        else if (getLength(content) == 0 || getLength(content) > 1000) {
            layer.msg("文章内容长度在1000个字符之内,中文算两个字符");
        }


        else if (!pat2.test(admireCount)) {
            layer.msg("点赞数量不能为空且只能是数字");
        }
        else if (!pat2.test(comments)) {
            layer.msg("评论数量不能为空且只能是数字");
        }
        else {
            $.ajax({
                url: "/article/manager/edit",
                type: "post",
                async: false,
                cache: false,
                data: {
                    'articleId': id,
                    'title': title,
                    'articleCategory': category,
                    'content': $(window.frames["LAY_layedit_1"].document).find('body').html(),
                    'authorId': authorId,
                    'admireCount': admireCount,
                    'commentCount': comments,
                },
                success: function (data) {
                    window.location.href = "/article/manager?pageNum=" + pageNum;
                }

            })
        }

    })
    $("#btn_n").click(function () {
        window.location.href = "/article/manager?pageNum=" + pageNum;
    })

    function getLength(str) {
        var len = 0;
        for (var i = 0; i < str.length; i++) {
            if (str.charCodeAt(i) > 127 || str.charCodeAt(i) == 94) {
                len += 2;
            } else {
                len++;
            }
        }
        return len;
    }

    $("input[name='admires']").keyup(function () {
        var c = $(this);
        if (/[^\d]/.test(c.val())) {//替换非数字字符
            var temp_amount = c.val().replace(/[^\d]/g, '');
            $(this).val(temp_amount);
        }
    })
    $("input[name='comments']").keyup(function () {
        var c = $(this);
        if (/[^\d]/.test(c.val())) {//替换非数字字符
            var temp_amount = c.val().replace(/[^\d]/g, '');
            $(this).val(temp_amount);
        }
    })
</script>
</body>
</html>